body {
    font-family: "Computer Modern Typewriter", sans-serif;
    background: #eee8d5;
    font-size: 20px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a.current-page {
    text-decoration: underline;
}

.icon {
    vertical-align: middle;
}
