html { 
	background: url("./background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	text-decoration:none;
	font-weight:bold;
	color:#ecc3ce;
}

a:hover {
	text-decoration:underline;
}

ul {
	padding:0;
	list-style:none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.6em;
}

.clr {
	clear:both;
}
.titlebox {
	opacity: 0.8;
	text-align:center;
	background-color:#0f050b;
	color:#ecc3ce;

	border-right: 5px #0F050B solid;
	border-right: 5px #8A316E solid;
	border-right: 5px #ecc3ce solid;
	border-left: 5px #ecc3ce solid;
	border-top: 5px #ecc3ce solid;
	border-bottom: 5px #ecc3ce solid;
	border-radius:5px;

	padding:20px;
	margin:2% 0 2% 0 ;
}

.box {
	opacity: 0.8;
	background-color:#0f050b;
	color:#ecc3ce;

	border-right: 5px #0F050B solid;
	border-right: 5px #8A316E solid;
	border-right: 5px #ecc3ce solid;
	border-left: 5px #ecc3ce solid;
	border-top: 5px #ecc3ce solid;
	border-bottom: 5px #ecc3ce solid;
	border-radius:5px;

	padding:20px;
	margin:2% 0 2% 0;
}

.about {
	opacity: 0.8;
	float:left;
	width:72.6%;
	

	background-color:#0f050b;
	color:#ecc3ce;

	border-right: 5px #0F050B solid;
	border-right: 5px #8A316E solid;
	border-right: 5px #ecc3ce solid;
	border-left: 5px #ecc3ce solid;
	border-top: 5px #ecc3ce solid;
	border-bottom: 5px #ecc3ce solid;
	border-radius:5px;

	padding:20px;
	margin:2% 1% 2% 0%;
	box-sizing: border-box;
}
.contact{
	opacity: 0.8;
	float:left;
	width:72.6%;
	

	background-color:#0f050b;
	color:#ecc3ce;

	border-right: 5px #0F050B solid;
	border-right: 5px #8A316E solid;
	border-right: 5px #ecc3ce solid;
	border-left: 5px #ecc3ce solid;
	border-top: 5px #ecc3ce solid;
	border-bottom: 5px #ecc3ce solid;
	border-radius:5px;

	padding:20px;
	margin:2% 1% 2% 0%;
	box-sizing: border-box;
}
.container{
	width:80%;
	margin:auto;
}

.sidebar {
	opacity: 0.8;
	float:right;
	width:25.3%;
	

	background-color:#0f050b;
	color:#ecc3ce;

	border-right: 5px #0F050B solid;
	border-right: 5px #8A316E solid;
	border-right: 5px #ecc3ce solid;
	border-left: 5px #ecc3ce solid;
	border-top: 5px #ecc3ce solid;
	border-bottom: 5px #ecc3ce solid;
	border-radius:5px;

	padding:20px;
	margin:2% 0% 2% 1%;
	box-sizing: border-box;
}

img.fossegrim {
	max-width:100%;
	max-height:100%;
}

.quote {
	font-style: italic; 
}
